* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Zilla Slab', serif;
	font-size: 62.5%;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.title {
	width: 90%;
	margin: 0 auto;
}

.title img {
	width: 100%;
	margin: auto;
	height: auto;
}

.header-text {
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-top: -70px;
	letter-spacing: .1rem;
	font-size: 1rem;
}

.header-text .icons {
	justify-content: center;
	align-items: center;
}

.header-text h3 {
	justify-content: center;
	align-self: center;
}

.field {
	font-size: 1.5rem;
	text-align: center;
}

.social-link:link,
.social-link:visited {
	text-decoration: none;
	color: black;
}

.chevron {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
	height: 10vh;
	padding-top: .5rem;
	color: #229ff8;
}

.work,
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	font-size: 1rem;
}

.work__title,
.project-thumbnail {
	margin-bottom: 2rem;
}

.work h3 {
	margin-bottom: 5px;
}

.work__title img {
	height: 100px;
}

.project-thumbnail {
	width: 90%;
}

.project-thumbnail img {
	width: 100%;
	margin: 0 auto;
	height: 170px;
}

.profile-image {
	border-bottom: 2px solid gray;
}

.profile-text {
	margin-top: 25px;
}

.profile-text p {
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

.profile-image img {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	margin-bottom: 50px;
}

.btn {
	text-transform: uppercase;
	text-decoration: none;
	padding: .75rem 2rem;
	border-radius: 10rem;
	border: none;
	transition: all .3s;
	font-size: 1rem;
	background-color: #229ff8;
	color: white;
	margin-bottom: 2rem;
}

.main-footer {
	background-color: black;
	color: white;
}

.tagline {
	text-align: center;
}
