.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 90vh;
}

.title {
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	img {
		width: 100%;
		max-width: 770px;
		margin: 0 auto;
	}
}

.header-text {
	display: flex;
	flex-direction: column;
	width: 90%;
	// margin-top: -70px;
	letter-spacing: .1rem;
	font-size: 1.25rem;
	position: relative;
	bottom: 5rem;
	p {
		justify-content: center;
		align-self: center;
	}
	img {
		width: 100%;
		max-width: 770px;
		margin: 0 auto;
	}
}

.field {
	font-size: 1.5rem;
	text-align: center;
}

.social-link:link,
.social-link:visited {
	text-decoration: none;
	color: black;
}

.chevron {
	display: flex;
	justify-content: center;
	font-size: 2.5rem;
	height: 10vh;
	padding-top: .5rem;
	color: #229ff8;
}
