.work,
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	font-size: 1rem;
	h3 {
		margin-bottom: 5px;
	}
}

.work {
	background-color: $bg-color-light-grey;
	padding: 3rem;
	align-items: stretch;
}

.work__title {
	text-align: center;
	margin-top: -1rem;
	margin-bottom: 2rem;
	img {
		height: 125px;
	}
}

.project-thumbnail {
	width: 100%;
	max-width: 600px;
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
	box-shadow: 0 1rem 2rem rgba(black, .15);
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	img {
		width: 100%;
		margin: 0 auto;
		height: auto;
	}
}

.icons-card {
	@include clearfix;
	.field-card {
		float: left;
	}
}

.buttons {
	text-align: right;
	float: right;
	font-size: .9rem;
	margin-top: 2px;
}

.subtitle {
	font-size: .75rem;
}

.contact__block {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 1300px;
	.profile-text {
		text-align: center;
	}
}

.profile-image {
	img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
		object-fit: cover;
		border: 2px solid $color-primary;
	}
}

.profile-text {
	padding: 2rem;
	p {
		display: flex;
		flex-direction: column;
	}
}

.main-footer {
	color: black;
	.field {
		padding-top: 1rem;
		text-align: center;
		.social-link-footer {
			padding: 0 3px;
			cursor: pointer;
		}
	}
	.tagline {
		text-align: center;
		font-size: 1rem;
		padding-bottom: 1rem;
	}
}
