.work,
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
	margin: 0 auto;
	font-size: 1rem;
	h3 {
		margin-bottom: 5px;
	}
}

.project-thumbnail {
	width: 90%;
	img {
		width: 100%;
		margin: 0 auto;
		height: auto;
	}
}

.profile-image {
	border-bottom: 2px solid gray;
	img {
		height: 200px;
		width: 200px;
		border-radius: 50%;
	}
}

.profile-text {
	margin-top: 25px;
	p {
		display: flex;
		flex-direction: column;
	}
}

.main-footer {
	color: black;
	.field {
		padding-top: 1rem;
	}
	.tagline {
		text-align: center;
		font-size: 1rem;
	}
}
